.contact {
	.sub_visual {
		width: 100%;
		height: 250px;
		.swiper {
			.swiper-wrapper {
				width: 100%;
				height: 100%;
				.swiper-slide {
					img {
						width: 100%;
						height: 245px;
						object-fit: cover;
					}
				}
			}
		}
	}
	.inner {
		width: 1180px;
		margin: 0 auto;
		h2 {
			text-align: left;
			margin-bottom: 10px;
			font: bold $font-big;
			font-family: 'orbitron';
			letter-spacing: 1px;
		}
		> p {
			font: $font-small;
			color: $sub2-color;
			padding-bottom: 10px;
			margin-bottom: 50px;
			border-bottom: 1px solid $sub2-color;
		}

		.wrap {
			display: flex;
			article {
				display: flex;
				align-items: center;
				margin-right: 150px;
				.text {
					margin-left: 20px;
					h2 {
						font: bold $font-middle;
						font-family: 'orbitron';
						letter-spacing: 1px;
					}
					p {
						font: $font-smaller;
						color: $sub-color;
					}
				}
			}
		}
	}
	.location {
		background: $sub2-color;
		width: 100%;
		margin: 50px 0 0;
		.wrap {
			padding: 30px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			i {
				color: #333;
			}
			h2 {
				color: #333;
				margin-left: 20px;
			}
		}
		#map {
			width: 100%;
			height: 500px;
			.overlay {
				background: $white-color;
				border: 1px solid $black-color;
				margin-bottom: 110px;
				text-align: center;
				padding: 10px;
				border-radius: 10px;
				position: relative;
				filter: grayscale(0);
				&::after {
					content: '';
					width: 20px;
					height: 20px;
					background: $white-color;
					position: absolute;
					border: 1px solid $black-color;
					border-style: none solid solid none;
					left: 50%;
					bottom: -11px;
					transform: translate(-50%) rotate(45deg);
				}
				h2 {
					font: bold $font-small;
					color: $sub-color;
					margin-bottom: 5px;
				}
				p {
					font: $font-smaller;
					color: $sub2-color;
					margin-bottom: 5px;
				}
				span {
					color: $sub2-color;
					font: $font-smaller;
				}
			}
		}
		.branch {
			padding: 20px 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			li {
				margin-right: 20px;

				&.on a {
					background: $black-color;
					color: $white-color;
				}

				a {
					display: block;
					width: 200px;
					height: 40px;
					font: bold 12px/40px 'arial';
					color: $black-color;
					background: $white-color;
					text-align: center;
					border: 1px solid $sub-color;
					&:hover {
						background: $black-color;
						color: $white-color;
					}
				}
			}
		}
	}
	.inner1 {
		width: 1180px;
		margin: 50px auto;
		.drop {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;
			i {
				color: $sub2-color;
			}
			h2 {
				color: $sub2-color;
				margin-left: 20px;
			}
		}
		fieldset {
			border: none;
			.wrap {
				display: flex;
				article {
					flex: 1 50%;
					table {
						width: 100%;
						padding: 20px;
						tr {
							height: 80px;
							th {
								width: 10%;
								font: bold $font-small;
								color: $white-color;
								margin-top: 50px;
								input[type='checkbox'] {
									width: 100%;
								}
							}
							td {
								color: $white-color;
								font: $font-smaller;
								input[type='text'] {
									background: transparent;
									border: none;
									border-bottom: 1px solid $white-color;
									outline: none;
									width: 100%;
									padding: 10px;
									color: $white-color;
								}
								input[type='checkbox'] {
									vertical-align: middle;
									margin-right: 10px;
								}
							}
						}
					}
				}
				article:last-of-type {
					h2 {
						color: $white-color;
						padding: 20px 0 20px 20px;
						margin-top: 35px;
						font: bold $font-smaller;
					}
					table {
						tr {
							td {
								textarea {
									background: none;
									outline: none;
									width: 100%;
									resize: none;
									height: 25px;
									border: none;
									border-bottom: 1px solid $white-color;
									color: $white-color;
								}
							}
							th {
								text-align: left;
								input[type='submit'],
								input[type='reset'] {
									padding: 10px 80px;
									margin-right: 20px;
									background: $white-color;
									cursor: pointer;
									&:hover {
										background: $black-color;
										color: $white-color;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* tablet -----------------------------------------------------------*/
@media screen and (max-width: $tablet) {
	.contact {
		.sub_visual {
			width: 100%;
			.swiper {
				.swiper-wrapper {
					width: 100%;
					height: 100%;
					.swiper-slide {
						img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
		.inner {
			width: 100%;
			padding: 0 10px;
			h2 {
				font: bold 40px/1 'orbitron';
			}
			> p {
				font: $font-small;
			}

			.wrap {
				flex-direction: column;
				article {
					margin-bottom: 30px;
					.text {
						h2 {
							font: bold $font-middle;
							font-family: 'orbitron';
						}
						p {
							font-size: 14px;
						}
					}
				}
			}
		}
		.location {
			.branch {
				li {
					margin-bottom: 10px;
					a {
						width: 150px;
					}
				}
			}
		}
		.inner1 {
			width: 100%;
			fieldset {
				.wrap {
					article:last-of-type {
						table {
							tr {
								th {
									input[type='reset'],
									input[type='submit'] {
										margin-bottom: 10px;
										padding: 10px 60px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* mobile -----------------------------------------------------------*/

@media screen and (max-width: $mobile) {
	.contact {
		.sub_visual {
			height: auto;
		}
		.inner {
			padding: 0 10px;
			h2 {
				font: $font-large;
				font-family: 'orbitron';
			}
			> p {
				font: $font-small;
			}

			.wrap {
				article {
					margin-right: 0;
					.text {
						h2 {
							font: bold $font-small;
							font-family: 'orbitron';
						}
						p {
							font: 13px/1.3 'pretendard';
						}
					}
				}
			}
		}
		.inner1 {
			fieldset {
				.wrap {
					display: block;
					article:last-of-type {
						table {
							tr {
								th {
									input[type='reset'],
									input[type='submit'] {
										padding: 10px 30px;
										display: inline-block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
