.gallery {
	width: 100%;
	.sub_visual {
		width: 100%;
		height: 245px;
		background: url(../img/subpage01/gallery.jpg) no-repeat center / cover;
		margin-bottom: 50px;
		.info {
			width: 1180px;
			padding-top: 55px;
			margin: 0 auto;
			h2 {
				color: #fff;
				font: 500 20px/1 'Oswald';
				margin-bottom: 10px;
			}
			h3 {
				color: #fff;
				font: bold 45px/1 'Oswald';
				margin-bottom: 15px;
				letter-spacing: 1px;
			}
			p {
				color: #fff;
				font: 500 18px/1 'Noto Sans KR';
			}
		}
	}

	.loading {
		width: 170px;
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		transition: 0.3s;
		z-index: -1;
		&.off {
			opacity: 0;
		}
	}

	section {
		width: 100%;
		position: relative;
		.txt {
			width: 1180px;
			margin: 0 auto;
			h2 {
				color: #eee;
				text-align: center;
				margin-bottom: 10px;
				font: bold 24px/1 'pretendard';
			}
			p {
				color: #999;
				text-align: center;
				font: 14px/1.3 'pretendard';
			}
			.searchBox {
				margin: 30px 20px 20px 0;
				text-align: right;
				border-bottom: 1px solid #999;
				padding-bottom: 20px;
				input {
					outline: none;
					background: transparent;
					border: none;
					padding: 10px 30px 10px 5px;
					border-bottom: 1px solid #eee;
					color: #eee;
				}
				.btnSearch {
					cursor: pointer;
					vertical-align: bottom;
					&:hover i {
						color: #4fb627;
					}
					i {
						font-size: 20px;
						background: transparent;
						color: #999;
					}
				}
			}
		}

		.inner {
			width: 1180px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			padding-bottom: 100px;

			.side {
				margin-top: 10px;
				flex: 1 20%;
				.menu {
					display: flex;
					flex-direction: column;
					li {
						padding: 15px;
						a {
							font: bold 16px/1 'orbitron';
							color: #999;
							letter-spacing: 1px;
							transition: 0.7s;
						}
						&:hover a {
							color: #4fb627;
						}
					}
				}
			}

			&::after {
				content: '';
				display: block;
				clear: both;
			}
			.description {
				flex: 1 80%;
				overflow: hidden;
				position: relative;
				opacity: 0;
				transform: translateY(100px);
				transition: 1s;
				&.on {
					opacity: 1;
					transform: translateY(0px);
				}
				.item {
					width: calc(100% / 3);
					float: left;
					> div {
						width: 100%;
						padding: 20px;
						box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.1);
						transition: 0.7s;
						filter: grayscale(1);
						cursor: pointer;

						&:hover {
							transform: scale(1.07);
							filter: brightness(110%);
						}

						.pic {
							display: block;
							width: 100%;
							margin-bottom: 30px;

							img {
								width: 100%;
							}
						}

						h2 {
							font: bold 14px/1 'Oswald';
							letter-spacing: 1px;
							padding: 10px 0;
							border-top: 2px solid #4fb627;
							color: #999;
						}

						span {
							display: block;
							font: bold 12px/1 'arial';
							color: #999;
							padding: 10px 0;
						}
					}
					.profile {
						display: flex;
						align-items: center;
						border-bottom: 2px solid #4fb627;
						padding-bottom: 10px;
						img {
							width: 40px;
							height: 40px;
							border-radius: 50%;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}

aside {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	padding: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;

	.con {
		width: 100%;
		height: 100%;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			color: #eee;
			cursor: pointer;
			border: 1px solid #eee;
			padding: 8px 15px;

			&:hover {
				color: #4fb627;
				border: 1px solid #4fb627;
			}
		}
	}
}

// tablet ----------------------------------------------------------------------------------

@media screen and (max-width: $tablet) {
	.gallery {
		.sub_visual {
			.info {
				width: 100%;
			}
		}

		section {
			width: 100%;
			.txt {
				width: 100%;
			}

			.inner {
				width: 100%;
				.description {
					.item {
						width: calc(100% / 2);
						.profile {
							img {
								width: 30px;
								height: 30px;
							}
						}
					}
				}
			}
		}
	}
}

// mobile -----------------------------------------------------------------------------

@media screen and (max-width: $mobile) {
	.gallery {
		.sub_visual {
			.info {
				width: 100%;
			}
		}

		section {
			width: 100%;
			.txt {
				width: 100%;
			}

			.inner {
				display: block;
				.side {
					.menu {
						justify-content: center;
						align-items: center;
					}
				}
				width: 100%;
				.description {
					.item {
						width: calc(100% / 1);
						.profile {
							img {
								width: 30px;
								height: 30px;
							}
						}
					}
				}
			}
		}
	}
}
