.gallery {
	width: 100%;
	.sub_visual {
		width: 100%;
		height: 245px;
		background: url(../img/subpage01/gallery.jpg) no-repeat center / cover;
		margin-bottom: 50px;
		.info {
			width: 1180px;
			padding-top: 55px;
			margin: 0 auto;
			h2 {
				color: #fff;
				font: 500 20px/1 'Oswald';
				margin-bottom: 10px;
			}
			h3 {
				color: #fff;
				font: bold 45px/1 'Oswald';
				margin-bottom: 15px;
				letter-spacing: 1px;
			}
			p {
				color: #fff;
				font: 500 18px/1 'Noto Sans KR';
			}
		}
	}

	.menu {
		display: flex;
		justify-content: center;
		margin: 50px 0;
		li {
			margin-left: 20px;
			border: 1px solid #999;
			&:hover {
				border: 1px solid #4fb627;
				a {
					color: #4fb627;
				}
			}

			a {
				color: #999;
				display: block;
				padding: 12px 20px;
				font-family: 'orbitron';
				font-size: 12px;
				letter-spacing: 1px;
			}
			&.on a {
				color: #000;
				background: #4fb627;
				border: none;
			}
		}
	}

	.loading {
		width: 170px;
		position: absolute;
		bottom: 0%;
		left: 50%;
		transform: translateX(-50%);
		transition: 0.5s;
		z-index: -1;
		&.off {
			opacity: 0;
		}
	}

	section {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		overflow: hidden;
		position: relative;
		opacity: 1;
		transform: translateY(100px);
		transition: 1s;

		&.on {
			opacity: 1;
			transform: translateY(0px);
		}

		.item {
			width: calc(100% / 4);

			> div {
				width: 100%;
				padding: 10px;
				box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.1);
				transition: 0.7s;
				filter: brightness(70%);
				cursor: pointer;

				&:hover {
					transform: scale(1.07);
					filter: brightness(130%);
				}

				.pic {
					display: block;
					width: 100%;

					img {
						width: 100%;
					}
				}

				h2 {
					font: 18px/1 'pretendard';
					margin-bottom: 10px;
					color: #777;
				}

				p {
					font: bold 16px/1 'arial';
					color: #eee;
				}
			}
		}
	}
}

aside {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	padding: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;

	.con {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.close {
		position: absolute;
		top: 40px;
		right: 40px;
		color: #eee;
		cursor: pointer;
		border: 1px solid #eee;
		padding: 8px 20px;

		&:hover {
			color: #4fb627;
			border: 1px solid #4fb627;
		}
	}
}

// tablet ----------------------------------------------------------------------------------

@media screen and (max-width: $tablet) {
	.gallery {
		> h2 {
			font: bold 30px/1 'pretendard';
		}

		.menu {
			flex-wrap: wrap;
			li {
				margin-top: 10px;
			}
		}

		.loading {
			width: 200px;
		}

		section {
			.item {
				width: calc(100% / 3);
				h2 {
					font: 16px/1 'pretendard';
				}

				p {
					font: bold 14px/1 'arial';
				}
			}
		}
	}
}

// mobile -----------------------------------------------------------------------------

@media screen and (max-width: $mobile) {
	.gallery {
		> h2 {
			height: 300px;
			padding: 30px;
			font: bold 20px/1 'pretendard';
		}

		.menu {
			display: block;
			padding: 0 30px;
		}

		section {
			.item {
				width: calc(100% / 1);
				> div {
					&:hover {
						transform: scale(1.05);
					}
				}
				h2 {
					font: 16px/1 'pretendard';
				}

				p {
					font: bold 14px/1 'arial';
				}
			}
		}
	}
}
