.join {
	background: #fff;
	width: 100%;
	.sub_visual {
		width: 100%;
		height: 245px;
		background: url(../img/subpage01/submain03.jpg) no-repeat center / cover;
		margin-bottom: 50px;
		.info {
			width: 1180px;
			padding-top: 55px;
			margin: 0 auto;
			h2 {
				color: #fff;
				font: 500 20px/1 'Oswald';
				margin-bottom: 10px;
			}
			h3 {
				color: #fff;
				font: bold 45px/1 'Oswald';
				margin-bottom: 15px;
				letter-spacing: 1px;
			}
			p {
				color: #fff;
				font: 500 18px/1 'Noto Sans KR';
			}
		}
	}
	.inner {
		width: 1180px;
		margin: 0 auto;
		.membership {
			width: 100%;
			display: flex;
			justify-content: space-between;
			article {
				flex: 1 33.3%;
				margin-right: 20px;
				cursor: pointer;
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					.txt h2 {
						color: #000;
					}
					.pic img {
						transform: scale(1.05);
						filter: brightness(1.2);
					}
				}
				.pic {
					width: 100%;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						transition: 0.7s;
						filter: brightness(0.7);
					}
				}
				.txt {
					margin-top: 20px;
					> h2 {
						font-size: 16px;
						border-bottom: none;
						color: #aaa;
					}
				}
			}
		}
		h2 {
			color: #000;
			margin-bottom: 10px;
			text-align: left;
			border-bottom: 1px solid #999;
			font-size: 22px;
			font-family: 'Pretendard';
			padding-bottom: 5px;
		}
		form {
			padding-bottom: 50px;
			fieldset {
				border: none;
				h3 {
					text-align: center;
					color: #000;
					font: bold 20px/1 'Pretendard';
					padding: 15px 0;
					border: 1px solid #999;
					border-style: solid none solid none;
					background: linear-gradient(45deg, #eee, #fff);
				}
			}
			table {
				width: 100%;
				th {
					color: #000;
					width: 20%;
					border-bottom: 1px solid #999;
					border-right: 1px solid #999;
					text-align: left;
					padding: 20px 30px;
					&:not(:last-child)::after {
						content: '*';
						margin-left: 15px;
						color: red;
					}
					&:last-child {
						border-right: none;
						text-align: center;
					}
					label {
						font: bold 18px/1 'Pretendard';
					}
					input[type='reset'],
					input[type='submit'] {
						color: #000;
						width: 150px;
						height: 40px;
						border: none;
						background: #eee;
						margin: 0 10px;
						cursor: pointer;
						font: bold 16px/1 'Pretendard';
						&:hover {
							background: #111;
							color: #fff;
						}
					}
					input[type='radio'] {
						padding: 5px 0;
						border: 1px inset #eee;
						box-shadow: 1px 1px 5px #999;
						outline: none;
					}
				}
				#addInfo {
					background: linear-gradient(45deg, #eee, #fff);
					padding: 15px;
				}
				td {
					border-bottom: 1px solid #999;
					text-align: left;
					padding: 20px 30px;
					input[type='text'],
					input[type='password'],
					input[type='tel'],
					input[type='search'] {
						padding: 5px 10px;
						border: 1px inset #eee;
						box-shadow: 1px 1px 5px #999;
						outline: none;
					}
					input[type='tel'] {
						width: 10%;
						padding-left: 5px;
					}
					input[type='search'] {
						width: 60%;
					}
					span {
						padding: 5px 20px;
						margin-left: 10px;
						border: 1px inset #eee;
						color: #000;
						cursor: pointer;
					}
					#address1 {
						display: block;
						width: 60%;
					}
					label[for='male'] {
						cursor: pointer;
						color: #000;
						margin-right: 50px;
						input[type='radio'] {
							margin-right: 10px;
						}
					}
					label[for='female'] {
						cursor: pointer;
						color: #000;
						input[type='radio'] {
							margin-right: 10px;
						}
					}
					input[type='checkbox'] {
						margin-left: 10px;
					}
					label[for='call1'] {
						color: #000;
						cursor: pointer;
					}
					p {
						margin-top: 10px;
						color: #aaa;
						font: normal 14px/1 'Pretendard';
					}
				}
			}
		}
	}
}

/* tablet --------------------------------------------------*/

@media screen and (max-width: $tablet) {
	.join {
		.sub_visual {
			.info {
				width: 100%;
				padding: 50px 10px 0;
			}
		}
		.inner {
			width: 100%;
			padding: 0 20px;
			.membership {
				.txt {
					> h2 {
						font-size: 12px;
					}
				}
			}
		}
		form {
			table {
				th {
					&:not(:last-child)::after {
						margin-left: 10px;
					}
					label {
						font: bold 16px/1 'Pretendard';
					}
				}
				td {
					input[type='text'],
					input[type='password'],
					input[type='tel'],
					input[type='search'] {
						margin-top: 0;
					}
					input[type='tel'] {
						width: 15%;
					}
					input[type='search'] {
						width: 70%;
					}
					#address1 {
						width: 70%;
					}
				}
			}
		}
	}
}

/* mobile ------------------------------------------------------*/

@media screen and (max-width: $mobile) {
	.join {
		.sub_visual {
			.info {
				width: 1180px;
				padding-top: 50px;
				h2 {
					color: #fff;
					font: 500 16px/1 'Oswald';
					margin-bottom: 10px;
				}
				h3 {
					color: #fff;
					font: bold 35px/1 'Oswald';
					margin-bottom: 15px;
				}
				p {
					color: #fff;
					font: 500 14px/1 'Noto Sans KR';
				}
			}
		}
		.inner {
			.membership {
				flex-direction: column;
				article {
					margin-right: 0;
				}
			}
			h2 {
				font-size: 20px;
			}
			form {
				table {
					th {
						display: none;
						&:last-child {
							display: block;
							width: 100%;
						}
						input[type='reset'],
						input[type='submit'] {
							width: 38%;
							margin: 0 5%;
						}
					}
					#addInfo {
						padding: 15px 0;
						display: block;
						text-align: center;
						width: 100%;
					}

					td {
						padding: 20px 10px;
						input[type='text'],
						input[type='password'],
						input[type='tel'],
						input[type='search'] {
							width: 100%;
						}
						input[type='tel'] {
							width: 20%;
						}
						input[type='search'] {
							width: 74%;
						}
						#address1 {
							width: 74%;
						}
						span {
							padding: 5px 15px;
						}
						p {
							font: normal 13px/1 'Pretendard';
						}
					}
				}
			}
		}
	}
}
