* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  left : 0;
  top: -9999px;
  opacity: 0;
}

.wrap1::after {
  content:'';
  display: block;
  clear:both;
}