@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "reset.scss";
@import "sub_layout.scss";
@import "MotorCycle.scss";
@import "News&Event.scss";
@import "join.scss";
@import "Department.scss";
@import "Youtube.scss";
@import "gallery.scss";
@import "contact.scss";
@import "model_ninjah2.scss";
@import "model_ninjazx10rr.scss";
@import "model_ninjazx10r.scss";
@import "model_ninja650.scss";
@import "model_zh2se.scss";
@import "model_zh2.scss";
@import "model_z900se.scss";
@import "model_z900.scss";
@import "model_ninjah2sxse.scss";
@import "model_ninja1000sx.scss";
@import "model_versys1000se.scss";
@import "model_versys650.scss";
@import "model_z900rsse.scss";
@import "model_z900rs.scss";
@import "model_z650rs.scss";
@import "model_w800.scss";

$tablet: 1179px;
$mobile: 539px;
$greenColor: #4fb627;
$bodyColor: #000;
$modelfontColor: #cbcaa5;
$nomalFontColor: #fff;

* {
  font-family: "Pretendard", sans-serif;
}

body {
  background: #000;
}

/* header -------------------------------------------------------------*/

#header {
  width: 100%;
  border-bottom: 1px solid #4fb627;
  position: absolute;
  z-index: 10;

  .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    h1 {
      max-width: 100px;
      a {
        display: block;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      padding-left: 10px;

      .btnCall {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 20px;
        display: block;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: #fff;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: bottom 0.5s, transform 0.5s 0.5s;
          &:hover {
            background: #4fb627;
          }
        }

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: #fff;
          position: absolute;
          top: 0;
          left: 0;
          transition: top 0.5s, transform 0.5s 0.5s;
        }
        span {
          display: block;
          width: 100%;
          height: 2px;
          background: #fff;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -1px;
          text-indent: -9999px;
          transition: all 0.5s;
        }
        &.on {
          span {
            transform: translateX(100%);
            opacity: 0;
            background: #4fb627;
          }

          &::after {
            bottom: 50%;
            margin-bottom: -1px;
            transform: rotate(-45deg);
            background: #4fb627;
          }
          &::before {
            top: 50%;
            margin-top: -1px;
            transform: rotate(45deg);
            background: #4fb627;
          }
        }
      }
      .gnb {
        margin-left: 20px;
        transition: 0.7s;
        opacity: 0;
        display: flex;
        transform: translateY(-50px);
        &.on {
          display: flex;
          opacity: 1;
          transform: translateY(0px);
        }
        li {
          a {
            display: block;
            font: normal 16px/1 "Orbitron";
            color: #fff;
            padding: 15px 10px;
            transition: all 0.7s;
            letter-spacing: 1px;
          }
          &:hover a {
            background: #4fb627;
            color: #cbcaa5;
          }
        }
      }
      .util {
        height: 100%;
        position: absolute;
        right: 0;
        top: 16px;
        li {
          &:hover {
            a {
              color: #4fb627;
            }
          }
          a {
            display: block;
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }
    .menuMo {
      display: none;
    }
  }
}

/* visual ----------------------------------------------------------------*/

#visual {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 5;

  .wrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .slide {
      display: flex;
      width: 400%;
      height: 100%;
      &::after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        justify-content: center;
        width: calc(400% / 4);
        height: 100%;
        float: left;
        video {
          width: 100%;
          z-index: -1;
          opacity: 0.6;
          object-fit: cover;
        }
        .description {
          margin-left: 1vw;
          position: absolute;
          left: 0;
          top: 30%;
          border: 1px solid #888;
          padding: 20px;
          opacity: 0;
          h2:nth-of-type(1) {
            font: bold 24px/1 "orbitron";
            margin-bottom: 20px;
            color: #999;
            letter-spacing: 1px;
          }
          h2:nth-of-type(2) {
            font: bold 30px/1 "orbitron";
            margin-bottom: 20px;
            color: #eee;
            letter-spacing: 1px;
          }
          h3 {
            color: #999;
            margin-bottom: 10px;
          }
          p {
            font: normal 16px/1.3 "pretendard";
            color: #777;
            margin-bottom: 30px;
          }
          .viewBtn {
            display: block;
            padding: 20px 0;
            color: #eee;
            border: 1px solid #999;
            text-align: center;
            margin-bottom: 20px;
            &:hover {
              background: #4fb627;
              color: #000;
            }
          }
          &.on {
            opacity: 1;
          }
        }
      }
    }
  }
  .navigation {
    position: absolute;
    left: 0;
    top: 70%;
    margin-left: 20px;
    ul {
      display: flex;
      li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #999;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
          background: #4fb627;
          border: 1px solid #4fb627;
        }
        &.on {
          background: #4fb627;
          border: 1px solid #4fb627;
        }
      }
    }
    .visualBtns {
      margin-left: 90px;
      a {
        display: block;
        position: absolute;
        left: auto;
        top: -4px;
        color: #999;
        &:hover {
          color: #4fb627;
        }
        &:nth-of-type(2) {
          margin-left: 30px;
        }
      }
    }
  }
}
/* model ------------------------------------------------*/

#model {
  width: 100%;
  position: relative;
  padding: 50px 0;
  .auto {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 10;
    padding: 10px;

    li {
      margin-right: 20px;
      cursor: pointer;
      font-size: 20px;
      color: #fff;
      opacity: 0.9;
      transition: 0.5s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 1;
        transform: scale(1.4);
        color: #4fb627;
      }
    }
  }
  .inner {
    width: 1180px;
    margin: 0 auto;
    > h2 {
      color: #fff;
      margin-top: 80px;
      font: bold 30px/1 "orbitron";
      text-align: center;
      letter-spacing: 1px;
    }
    p {
      color: #fff;
      margin: 20px 0;
      text-align: center;
      font-family: "orbitron";
      letter-spacing: 1px;
    }
    .slider {
      margin-top: 50px;
      width: 100%;
      height: 380px;
      position: relative;
      .wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        &::after {
          content: "";
          display: block;
          clear: both;
        }
        article {
          float: left;
          width: 280px;
          height: 100%;
          margin-right: 20px;
          color: #fff;
          background: rgb(20, 20, 20);
          transition: all 0.7s;
          &:last-of-type {
            margin-right: 0;
          }
          .pic {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              width: 100%;
              transition: all 0.7s;
              background: #000;
              opacity: 0.7;
            }
            h2 {
              color: #fff;
              padding: 20px 5px;
              font-family: "orbitron";
              font-size: 16px;
              letter-spacing: 2px;
            }
            a {
              padding: 20px 0;
              display: block;
              border: 2px solid #4fb627;
              text-align: center;
              color: #999;
              font: bold 16px/1 "pretendard";
              margin-top: 30px;
              transition: all 0.7s;
              position: relative;
              &::after {
                content: "";
                width: 100%;
                height: 0;
                position: absolute;
                left: 0;
                bottom: 0;
                background: #4fb627;
                transition: all 0.7s;
              }
              &:hover {
                color: #000;
                &::after {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  height: 100%;
                  z-index: -1;
                }
              }
              img {
                width: 100%;
              }
            }
          }
          &:hover {
            transform: scale(1.05);
            .pic {
              img {
                transform: scale(1.1);
                opacity: 1;
              }
              h2 {
                color: #f8c0c9;
              }
              a {
                transform: translateY(-20px);
              }
            }
          }
        }
      }
    }
    .prevBtn {
      left: 10vw;
      color: #fff;
    }
    .nextBtn {
      color: #fff;
      right: 10vw;
    }
    .swiper-pagination1 {
      color: #fff;
      display: inline-block;
      text-align: center;
      z-index: 1;
      .swiper-pagination-bullet {
        color: #fff;
        background: #fff;
      }
    }
  }
}

/* content ---------------------------------------------------*/

#content {
  width: 100%;
  margin-top: 100px;
  .inner {
    width: 1180px;
    margin: 100px auto;
    .wrap {
      &::after {
        content: "";
        display: block;
        clear: both;
      }
      article {
        width: 380px;
        margin-right: 20px;
        float: left;
        &:last-of-type {
          margin-right: 0;
        }
        h1 {
          color: #fff;
          font: bold 24px/1 "orbitron";
          margin-bottom: 20px;
        }
        h2 {
          color: #bbb;
          font: bold 16px/1 "GmarketSansMedium";
          margin-bottom: 30px;
        }
        a {
          img {
            transition: all 0.7s;
            border: 3px solid #4fb627;
          }
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

/* gallery ------------------------------------------*/

#gallery {
  width: 100%;
  .image {
    width: 100%;
    background: url(../img/motor_main2.jpg) no-repeat center / cover;
    background-attachment: fixed;
    height: 700px;
    text-indent: -9999px;
    margin: 100px 0;
  }
}

/* news ------------------------------------------------------*/

#news {
  width: 100%;
  .inner {
    width: 1180px;
    margin: 50px auto;
    h1 {
      color: #fff;
      text-align: center;
      margin-bottom: 50px;
      font: bold 30px/1 "orbitron";
    }
    .wrap {
      &::after {
        content: "";
        display: block;
        clear: both;
      }
      article {
        float: left;
        width: 380px;
        height: 400px;
        margin-right: 20px;
        &:nth-of-type(3),
        &:nth-of-type(6) {
          margin-right: 0;
        }
        img {
          width: 100%;
          transition: all 0.7s;
          border: 4px solid #4fb627;
          opacity: 0.8;
          &:hover {
            transform: scale(1.1);
            opacity: 1;
          }
        }
        h2 {
          color: #fff;
          font: bold 15px/1 "GmarketSansMedium";
          margin-top: 20px;
        }
        a {
          color: #999;
          padding: 30px 0 10px;
          position: relative;
          width: 100%;
          left: 0;
          top: 5%;
          &::after {
            content: "";
            position: absolute;
            background: #fff;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: 0;
            opacity: 0;
            transition: all 0.7s;
            transform: translateY(20px);
          }
          &:hover {
            color: #fff;
            &::after {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}

/* scrollBtn -------------------------------------------------*/
#scrollBtn {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;

    &.on {
      height: 100px;
      background: #4fb627;
    }
  }
}

/* popup----------------------------------------------------------*/

#popup {
  padding: 11vw;
  position: fixed;
  z-index: 10;
  display: none;

  .popupInfo {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(234, 244, 245, 0.5);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 460px;
    background: url("../img/subpage01/subpageDetail/Z900SE/specz900.jpg")
      no-repeat center / contain;
    filter: grayscale(10);
    &:hover {
      filter: grayscale(0) brightness(120%);
      .popupInfo h3::after {
        opacity: 1;
        bottom: -10px;
      }
    }
    h2 {
      color: #888;
      font: bold 18px/1 "orbitron";
      margin-bottom: 10px;
      letter-spacing: 1px;
      margin-top: 5px;
    }
    h3 {
      color: #999;
      font: bold 16px/1 "orbitron";
      letter-spacing: 1px;
      margin-bottom: 25px;
      cursor: pointer;
      position: relative;
      display: inline;
      &::after {
        content: "";
        background: #fff;
        position: absolute;
        left:0;
        bottom:0;
        width: 100%;
        height: 2px;
        opacity: 0;
        transition: 0.7s;
        transform: translateY(20px);
      }
      &:hover::after {
        transform: translateY(5px);
        opacity: 1;
      }
    }
    .info {
      margin-top: 30px;
      padding-left: 20px;
      display: inline-flex;
      align-items: center;
      position: absolute;
      left: 0;
      bottom:5%;
      input {
        margin-right: 20px;
        position: relative;
      }
      label {
        color: #eee;
        cursor: pointer;
        color: #4fb627;
        font-family: "pretendard";
      }
    }
    .closeBtn {
      position: absolute;
      right: 20px;
      bottom: 20px;
      color: #aaa;
      &:hover {
        color: #4fb627;
      }
    }
  }
}

/* footer ------------------------------------------*/

#footer {
  width: 100%;
  background: rgb(19, 18, 18);
  padding-top: 50px;
  .inner {
    width: 1180px;
    margin: 0 auto;
    .gnb {
      text-align: center;
      margin-bottom: 30px;
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 30px;
        }
        a {
          display: block;
          padding: 20px;
          color: #999;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    address {
      color: #999;
      font: normal 16px/1.3 "arial";
      text-align: center;
    }
    .sns {
      display: flex;
      justify-content: center;
      margin: 50px;
      li:not(:last-child) {
        margin-right: 50px;
      }
      li {
        a {
          font-size: 30px;
          color: #999;
          display: block;
          padding: 10px;
          &:hover {
            color: #4fb627;
          }
        }
      }
    }
    .footerLogo {
      h1 {
        width: 150px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      p {
        color: #999;
        text-align: center;
        padding: 30px 0;
      }
    }
  }
}

/* tablet ------------------------------------------------------*/

@media screen and (max-width: $tablet) {
  /* header -------------------------------------------------------------*/

  #header .inner {
    width: 100%;
    nav {
      .gnb {
        margin-left: 20px;
        transition: 0.7s;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        transform: translateY(-50px);
        &.on {
          display: flex;
          opacity: 1;
          transform: translateY(100px);
        }
        li {
          a {
            display: block;
            font: normal 16px/1 "Orbitron";
            color: #fff;
            padding: 15px 10px;
            transition: all 0.7s;
            letter-spacing: 1px;
          }
          &:hover a {
            background: #4fb627;
            color: #cbcaa5;
          }
        }
      }
      .util {
        height: 100%;
        position: absolute;
        right: 0;
        top: 16px;
        li {
          &:hover {
            a {
              color: #4fb627;
            }
          }
          a {
            display: block;
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }
    .btnCall {
      display: block;
      &:hover {
        &::before {
          background: #4fb627;
        }
        &::after {
          background: #4fb627;
        }
        span {
          background: #4fb627;
          transition-duration: 0s;
        }
      }
    }
    .menuMo {
      display: none;
      width: 200px;
      height: 100vh;
      background: rgb(21, 22, 21);
      position: fixed;
      top: 10%;
      left: -400px;
      padding: 80px 30px;
      z-index: 10;
      transition: 0.7s;
      &.on {
        left: 0;
      }
      .gnbMo {
        li {
          a {
            display: block;
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid #444;
            font: bold 14px/1 "arial";
            color: #888;
            text-align: center;
          }
          &:hover {
            a {
              background: #4fb627;
              color: #fff;
            }
          }
        }
      }
      .utilMo {
        position: absolute;
        left: 0;
        top: 0;
        padding: 30px;
        margin-left: 50px;
        li {
          float: left;
          a {
            margin-right: 30px;
            font-size: 26px;
            color: #999;
            display: block;
          }
          &:hover {
            a {
              color: #4fb627;
            }
          }
        }
      }
    }
  }

  /* model ------------------------------------------------*/

  #model {
    .inner {
      width: 100%;
      .slider {
        margin-top: 50px;
        width: 100%;
        height: 380px;
        position: relative;
        .wrap {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;

          &::after {
            content: "";
            display: block;
            clear: both;
          }
          article {
            float: left;
            width: 100%;
            height: 100%;
            margin-right: 20px;
            color: #fff;
            background: rgb(20, 20, 20);
            transition: all 0.7s;
            &:last-of-type {
              margin-right: 0;
            }
            .pic {
              width: 100%;
              height: 100%;
              overflow: hidden;
              img {
                width: 100%;
                transition: all 0.7s;
                background: #000;
                opacity: 0.7;
              }
              h2 {
                color: #fff;
                padding: 20px 5px;
                font-family: "orbitron";
                font-size: 16px;
                letter-spacing: 2px;
              }
              a {
                padding: 20px 0;
                display: block;
                border: 2px solid #4fb627;
                text-align: center;
                color: #999;
                font: bold 16px/1 "pretendard";
                margin-top: 30px;
                transition: all 0.7s;
                position: relative;
                &::after {
                  content: "";
                  width: 100%;
                  height: 0;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  background: #4fb627;
                  transition: all 0.7s;
                }
                &:hover {
                  color: #000;
                  &::after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 100%;
                    z-index: -1;
                  }
                }
                img {
                  width: 100%;
                }
              }
            }
            &:hover {
              transform: scale(1.05);
              .pic {
                img {
                  transform: scale(1.1);
                  opacity: 1;
                }
                h2 {
                  color: #f8c0c9;
                }
                a {
                  transform: translateY(-20px);
                }
              }
            }
          }
        }
      }
      .prevBtn {
        color: #fff;
        top: 100px;
      }
      .nextBtn {
        color: #fff;
        top: 100px;
      }
      .swiper-pagination1 {
        color: #fff;
        display: inline-block;
        text-align: center;
        z-index: 1;
        .swiper-pagination-bullet {
          color: #fff;
          background: #fff;
        }
      }
    }
  }

  /* content ---------------------------------------------------*/

  #content .inner {
    width: 100%;
    padding: 0 40px;
    .wrap {
      article {
        width: 32%;
        margin-right: 2%;
        h1,
        h2 {
          font: bold 18px/1 "GmarketSansMedium";
        }
        a {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  /* news ------------------------------------------------------*/

  #news .inner {
    width: 100%;
    padding: 0 40px;
    .wrap {
      article {
        float: left;
        width: 49%;
        margin-right: 2%;
        height: 100%;
        padding: 30px 0;
        // height: 470px;

        // padding-bottom: 30px;
        h2 {
          font: bold 13px/1.5 "GmarketSansMedium";
          // padding: 10px 0;
        }
        &:nth-of-type(even) {
          margin-right: 0;
          // margin-bottom: 30px;
        }
        &:nth-of-type(3) {
          margin-right: 2%;
        }
        img {
          &:hover {
            transform: scale(1.05);
            opacity: 1;
          }
        }
        a {
          padding: 10px 0;
          top: 20px;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  /* footer ------------------------------------------*/

  #footer .inner {
    width: 100%;
    .footerLogo {
      h1 {
        min-width: 150px;
      }
    }
  }
}

/* mobile ---------------------------------------------------*/

@media screen and (max-width: $mobile) {
  /* header -------------------------------------------------------------*/

  #header {
    .inner {
      nav {
        .util {
          display: none;
        }
      }
      .menuMo {
        .utilMo {
          display: block;
        }
      }
    }
  }

  /* model ------------------------------------------------*/

  #model {
    width: 100%;
    padding: 40px 10px;
    .inner {
      width: 100%;
      margin: 0 auto;
      .wrap {
        article {
          width: 100%;
          height: 100%;
          margin-bottom: 30px;
          .pic {
            h2 {
              font-size: 1.2rem;
            }
          }
        }
        .indicator {
          display: none;
        }
      }
    }
  }

  /* content ---------------------------------------------------*/

  #content .inner {
    margin: 0 auto;
    padding: 0 10px;
    .wrap {
      article {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  /* news ------------------------------------------------------*/

  #news {
    .inner {
      .wrap {
        article {
          width: 100%;
          margin-bottom: 30px;
          height: 100%;
        }
      }
    }
  }

  /* footer ------------------------------------------*/

  #footer .inner {
    width: 100%;
    padding: 0 10px;
    .gnb {
      text-align: center;
      li {
        display: block;
        a {
          font-size: 14px;
        }
      }
      li:not(:last-child) {
        margin-right: 0;
      }
    }
    address {
      font-size: 12px;
      text-align: center;
      line-height: 1.5;
    }
    .footerLogo {
      h1 {
        min-width: 150px;
      }
    }
  }
}
