@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Oswald:wght@300;400;500;600;700&family=Orbitron:wght@400;500;700&display=swap');

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

$tablet: 1179px;
$mobile: 539px;
$main-Color: #4fb627;
$sub-color: #777;
$sub2-color: #aaa;
$white-color: #fff;
$black-color: #000;
$font-big: bold 50px/1 'Oswald';
$font-large: bold 30px/1.3 'pretendard';
$font-middle: 20px/1.3 'pretendard';
$font-small: 18px/1.3 'pretendard';
$font-smaller: 14px/1.3 'pretendard';

@import 'reset';
@import 'sub_layout';
@import 'MotorCycle';
@import 'News&Event';
@import 'join';
@import 'Department';
@import 'Youtube';
@import 'gallery';
@import 'contact';
@import 'sub/model_ninja1000sx.scss';
@import 'sub/model_ninjah2.scss';
@import 'sub/model_ninjah2sxse.scss';
@import 'sub/model_ninjazx10r.scss';
@import 'sub/model_ninjazx10rr.scss';
@import 'sub/model_versys1000se.scss';
@import 'sub/model_versys650.scss';
@import 'sub/model_w800.scss';
@import 'sub/model_z650rs.scss';
@import 'sub/model_z900.scss';
@import 'sub/model_z900rs.scss';
@import 'sub/model_z900rsse.scss';
@import 'sub/model_z900se.scss';
@import 'sub/model_ninja650.scss';
@import 'sub/model_zh2.scss';
@import 'sub/model_zh2se.scss';

body {
	background: $black-color;
}

/* header -------------------------------------------------------------*/

#header {
	width: 100%;
	border-bottom: 1px solid $main-Color;
	position: absolute;
	z-index: 10;

	.inner {
		width: 1180px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		h1 {
			max-width: 50px;
			margin: 10px 10px 0 0;
			a {
				display: block;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		nav {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			position: relative;

			.btnCall {
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				width: 25px;
				height: 20px;
				display: block;

				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background: $white-color;
					position: absolute;
					bottom: 0;
					left: 0;
					transition: bottom 0.5s, transform 0.5s 0.5s;
					&:hover {
						background: $main-Color;
					}
				}

				&::before {
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background: $white-color;
					position: absolute;
					top: 0;
					left: 0;
					transition: top 0.5s, transform 0.5s 0.5s;
				}
				span {
					display: block;
					width: 100%;
					height: 2px;
					background: $white-color;
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -1px;
					text-indent: -9999px;
					transition: all 0.5s;
				}
				&.on {
					span {
						transform: translateX(100%);
						opacity: 0;
						background: $main-Color;
					}

					&::after {
						bottom: 50%;
						margin-bottom: -1px;
						transform: rotate(-45deg);
						background: $main-Color;
					}
					&::before {
						top: 50%;
						margin-top: -1px;
						transform: rotate(45deg);
						background: $main-Color;
					}
				}
			}
			.gnb {
				justify-content: center;
				transition: 0.7s;
				opacity: 0;
				display: flex;
				transform: translateY(-50px);
				&.on {
					display: flex;
					opacity: 1;
					transform: translateY(0px);
				}
				li {
					a {
						display: block;
						font: $font-small;
						font-family: 'orbitron';
						color: $white-color;
						padding: 15px 10px;
						transition: all 0.7s;
						letter-spacing: 1px;
					}
					&:hover a {
						background: $main-Color;
						color: $sub-color;
					}
				}
			}
		}
		.menuMo {
			display: none;
		}
	}
}

/* visual ----------------------------------------------------------------*/

#visual {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 5;

	.slider {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		.mobileImg {
			display: none;
		}
		.panel {
			position: relative;
			width: 100%;
			height: 100%;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			li {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				display: none;
				&.on {
					display: block;
				}
				video {
					width: 100%;
					height: 100%;
					z-index: -1;
					opacity: 0.6;
					object-fit: cover;
				}
				.description {
					margin-left: 1vw;
					position: absolute;
					left: 0;
					top: 30%;
					border: 1px solid $sub-color;
					padding: 20px;
					h2:nth-of-type(1) {
						font: bold $font-middle;
						margin-bottom: 20px;
						color: #999;
						letter-spacing: 1px;
					}
					h2:nth-of-type(2) {
						font: $font-large;
						font-family: 'orbitron';
						margin-bottom: 20px;
						color: $sub2-color;
						letter-spacing: 1px;
					}
					h3 {
						color: $sub-color;
						margin-bottom: 10px;
					}
					p {
						font: $font-smaller;
						color: $sub-color;
						margin-bottom: 30px;
					}
					.viewBtn {
						display: block;
						padding: 20px 0;
						color: $white-color;
						border: 1px solid $sub-color;
						text-align: center;
						margin-bottom: 20px;
						&:hover {
							background: $main-Color;
							color: $black-color;
						}
					}
				}
				&.on .description {
					display: block;
				}
			}
		}
		.navigation {
			position: absolute;
			left: 0;
			top: 70%;
			margin-left: 20px;
			ul {
				display: flex;
				li {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					border: 1px solid $sub-color;
					margin-right: 10px;
					cursor: pointer;
					&:hover {
						background: $main-Color;
						border: 1px solid $main-Color;
					}
					&.on {
						background: $main-Color;
						border: 1px solid $main-Color;
					}
				}
			}
			.visualBtns {
				margin-left: 90px;
				a {
					display: block;
					position: absolute;
					left: auto;
					top: -4px;
					color: $sub2-color;
					transition: 0.7s;
					&:hover {
						color: $main-Color;
						transform: scale(1.5);
					}
					&:nth-of-type(2) {
						margin-left: 30px;
					}
				}
			}
		}
	}
}
/* model ------------------------------------------------*/

#model {
	width: 100%;
	position: relative;
	padding: 50px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;
		> h2 {
			color: $white-color;
			margin-top: 80px;
			font: $font-large;
			font-family: 'orbitron';
			text-align: center;
			letter-spacing: 1px;
		}
		p {
			color: $white-color;
			margin: 20px 0;
			text-align: center;
			font-family: 'orbitron';
			letter-spacing: 1px;
		}
		.wrap {
			width: 100%;
			height: 500px;
			position: relative;
			overflow: hidden;
			.model_list {
				width: 6080px;
				height: 100%;
				margin-top: 50px;
				position: absolute;
				left: 0;
				top: 0;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				li {
					width: 380px;
					height: 100%;
					float: left;
					opacity: 0.5;
					transition: 0.5s;
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					padding: 30px;
					align-items: center;
					&:hover {
						opacity: 1;
						a {
							display: block;
							img {
								transform: scale(1.1);
							}
						}
					}
					h2 {
						color: #fff;
						width: 100%;
						font: bold $font-middle;
						font-family: 'orbitron';
						text-align: center;
					}
					> a {
						width: 300px;

						img {
							width: 100%;
							height: 100%;
							transition: 0.7s;
						}
					}
					> div {
						width: 100%;
						text-align: center;
						a {
							display: block;
							padding: 20px 0;
							width: 100%;
							color: $white-color;
							border: 1px solid $main-Color;
							position: relative;
							transition: 0.7s;
							&::after {
								content: '';
								width: 100%;
								position: absolute;
								left: 0;
								bottom: 0;
								height: 0px;
								background: $main-Color;
								transition: 0.7s;
							}
							&:hover {
								color: #000;
								&::after {
									position: absolute;
									left: 0;
									bottom: 0;
									height: 100%;
									z-index: -1;
								}
							}
						}
					}
				}
			}
			.prevBtn {
				color: $white-color;
				position: absolute;
				top: 60%;
				left: -80px;
				opacity: 0;
				transition: 0.5s;
				width: 30px;
				height: 50px;
				line-height: 50px;
			}
			.nextBtn {
				color: $white-color;
				position: absolute;
				top: 60%;
				right: -80px;
				opacity: 0;
				transition: 0.5s;
				width: 30px;
				height: 50px;
				line-height: 50px;
			}
			&:hover {
				.prevBtn {
					left: 20px;
					opacity: 1;
				}
				.nextBtn {
					right: 20px;
					opacity: 1;
				}
			}
		}
	}
}

/* content ---------------------------------------------------*/

#content {
	width: 100%;
	margin-top: 100px;
	.inner {
		width: 1180px;
		margin: 100px auto;
		.wrap {
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				width: 380px;
				margin-right: 20px;
				float: left;
				&:last-of-type {
					margin-right: 0;
				}
				h1 {
					color: $white-color;
					font: bold $font-middle;
					font-family: 'orbitron';
					margin-bottom: 20px;
				}
				h2 {
					color: #bbb;
					font: bold $font-small;
					font-family: 'GmarketSansMedium';
					margin-bottom: 30px;
				}
				a {
					img {
						transition: all 0.7s;
						border: 3px solid $main-Color;
					}
					&:hover {
						img {
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
}

/* gallery ------------------------------------------*/

#gallery {
	width: 100%;
	.image {
		width: 100%;
		background: url(../img/motor_main2.jpg) no-repeat center / cover;
		background-attachment: fixed;
		height: 700px;
		text-indent: -9999px;
		margin: 100px 0;
	}
}

/* service --------------------------------------------------*/

#service {
	width: 100%;
	padding: 50px 0;
	.inner {
		width: 1180px;
		margin: 0 auto;
		> h2 {
			text-align: center;
			color: $white-color;
			font: $font-large;
			font-family: 'orbitron';
			margin-bottom: 30px;
		}
		p {
			color: #aaa;
			text-align: center;
			font: $font-small;
			margin: 20px 0;
		}
		.wrap {
			margin-top: 50px;
			width: 100%;
			height: 400px;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				width: 280px;
				height: 280px;
				border-radius: 50%;
				float: left;
				position: relative;
				margin-right: 20px;
				cursor: pointer;
				&:last-child {
					margin-right: 0;
				}
				.icon {
					.s1 {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						display: block;
						margin: 0 auto;
						border-radius: 50%;
						circle {
							fill: transparent;
							stroke: $main-Color;
							stroke-width: 3;
							stroke-dasharray: 880;
							stroke-dashoffset: 880;
						}
					}
					a {
						display: block;
						.icons {
							transition: 0.7s;
							opacity: 0;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							stroke-width: 1px;
							path {
								fill: $main-Color;
								stroke-width: 1px;
							}
						}
					}
				}
				.icon_text {
					opacity: 0;
					margin-top: 200px;
					transition: 0.7s;
					h2 {
						font: bold $font-smaller;
						font-family: 'orbitron';
						letter-spacing: 1px;
						text-align: center;
						color: $white-color;
					}
					p {
						font: $font-smaller;
					}
				}
			}
		}
	}
	&.on {
		.inner {
			.wrap {
				.icon {
					circle {
						animation: ani 1s linear 1;
						animation-fill-mode: forwards;
					}
					a .icons {
						opacity: 1;
						top: 38%;
					}
				}
				.icon_text {
					margin-top: 150px;
					opacity: 1;
				}
			}
		}
	}
}

@keyframes ani {
	100% {
		stroke-dashoffset: 0;
	}
}
/* news ------------------------------------------------------*/

#news {
	width: 100%;
	.inner {
		width: 1180px;
		margin: 0 auto;
		> h2 {
			color: $white-color;
			text-align: center;
			margin-bottom: 20px;
			font: $font-large;
			font-family: 'orbitron';
		}
		p {
			color: $sub2-color;
			text-align: center;
			font: $font-small;
			margin: 30px 0;
		}
		.wrap {
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				float: left;
				width: 380px;
				height: 400px;
				margin-right: 20px;
				&:nth-of-type(3),
				&:nth-of-type(6) {
					margin-right: 0;
				}
				img {
					width: 100%;
					transition: all 0.7s;
					border: 4px solid $main-Color;
					opacity: 0.8;
					&:hover {
						transform: scale(1.1);
						opacity: 1;
					}
				}
				h2 {
					color: $white-color;
					font: bold $font-smaller;
					font-family: 'GmarketSansMedium';
					margin-top: 20px;
				}
				a {
					color: $sub2-color;
					padding: 30px 0 10px;
					position: relative;
					width: 100%;
					left: 0;
					top: 5%;
					&::after {
						content: '';
						position: absolute;
						background: $white-color;
						width: 100%;
						height: 2px;
						left: 0;
						bottom: 0;
						opacity: 0;
						transition: all 0.7s;
						transform: translateY(20px);
					}
					&:hover {
						color: $white-color;
						&::after {
							opacity: 1;
							transform: translateX(0);
						}
					}
				}
			}
		}
	}
}

/* scrollBtn -------------------------------------------------*/
#scrollBtn {
	position: fixed;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;

	li {
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background: $white-color;
		margin-bottom: 20px;
		cursor: pointer;
		transition: 0.5s;

		&.on {
			height: 100px;
			background: $main-Color;
		}
	}
}

/* popup----------------------------------------------------------*/

#popup {
	padding: 11vw;
	position: fixed;
	z-index: 10;
	display: none;

	.popupInfo {
		padding: 10px;
		border-radius: 15px;
		box-shadow: 10px 10px 30px rgba(234, 244, 245, 0.5);
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 500px;
		height: 460px;
		background: url('../img/subpage01/subpageDetail/Z900SE/specz900.jpg')
			no-repeat center / contain;
		filter: grayscale(10);
		&:hover {
			filter: grayscale(0) brightness(120%);
			.popupInfo h3::after {
				opacity: 1;
				bottom: -10px;
			}
		}
		h2 {
			color: $sub-color;
			font: bold $font-small;
			font-family: 'orbitron';
			margin-bottom: 10px;
			letter-spacing: 1px;
			margin-top: 5px;
		}
		h3 {
			color: #999;
			font: bold $font-small;
			font-family: 'orbitron';
			letter-spacing: 1px;
			margin-bottom: 25px;
			cursor: pointer;
			position: relative;
			display: inline;
			&::after {
				content: '';
				background: $white-color;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				opacity: 0;
				transition: 0.7s;
				transform: translateY(20px);
			}
			&:hover::after {
				transform: translateY(5px);
				opacity: 1;
			}
		}
		.info {
			margin-top: 30px;
			padding-left: 20px;
			display: inline-flex;
			align-items: center;
			position: absolute;
			left: 0;
			bottom: 5%;
			input {
				margin-right: 20px;
				position: relative;
			}
			label {
				cursor: pointer;
				color: $main-Color;
				font-family: 'pretendard';
			}
		}
		.closeBtn {
			position: absolute;
			right: 20px;
			bottom: 20px;
			color: $sub2-color;
			&:hover {
				color: $main-Color;
			}
		}
	}
}

/* footer ------------------------------------------*/

#footer {
	width: 100%;
	background: rgb(19, 18, 18);
	padding-top: 50px;
	.inner {
		width: 1180px;
		margin: 0 auto;
		.gnb {
			text-align: center;
			margin-bottom: 30px;
			li {
				display: inline-block;
				&:not(:last-child) {
					margin-right: 30px;
				}
				a {
					display: block;
					padding: 20px;
					color: $sub2-color;
					&:hover {
						color: $white-color;
					}
				}
			}
		}
		address {
			color: $sub2-color;
			font: $font-small;
			text-align: center;
		}
		.sns {
			display: flex;
			justify-content: center;
			margin: 50px;
			li:not(:last-child) {
				margin-right: 50px;
			}
			li {
				a {
					font-size: 30px;
					color: $sub2-color;
					display: block;
					padding: 10px;
					&:hover {
						color: $main-Color;
					}
				}
			}
		}
		.footerLogo {
			h1 {
				width: 150px;
				margin: 0 auto;
				img {
					width: 100%;
				}
			}
			p {
				color: $sub2-color;
				text-align: center;
				padding: 30px 0;
			}
		}
	}
}

/* tablet ------------------------------------------------------*/

@media screen and (max-width: $tablet) {
	/* header -------------------------------------------------------------*/
	#header {
		border-bottom: none;

		.inner {
			width: 100%;
			padding: 0 20px;

			nav {
				.gnb {
					display: none;
					&.on {
						display: none;
					}
				}
			}
			.menuMo {
				width: 250px;
				height: 100vh;
				background: rgba(0, 0, 0, 0.5);
				position: fixed;
				top: 8%;
				right: -250px;
				padding: 20px 30px;
				z-index: 10;
				transition: 0.7s;
				&.on {
					right: 0;
					display: block;
				}
				.menuClose {
					button {
						outline: none;
						border: none;
						background: transparent;
						color: $white-color;
						position: absolute;
						right: 20px;
						top: 20px;
						cursor: pointer;
						&:hover {
							color: $main-Color;
							font-weight: bold;
						}
					}
				}
				.gnbMo {
					padding-top: 50px;
					li {
						a {
							display: block;
							width: 100%;
							padding: 20px 0;
							border-bottom: 1px solid #444;
							font: bold $font-smaller;
							color: $sub-color;
							text-align: center;
						}
						&:hover {
							a {
								background: $main-Color;
								color: $white-color;
							}
						}
					}
				}
			}
		}
	}
	/* model ------------------------------------------------*/

	#visual {
		height: 100%;
		.slider {
			.mobileImg {
				display: block;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.panel {
				display: none;
			}
			.navigation {
				display: none;
			}
		}
	}
	#model {
		.inner {
			width: 100%;
			.slider {
				margin-top: 50px;
				width: 100%;
				height: 380px;
				position: relative;
				.wrap {
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;

					&::after {
						content: '';
						display: block;
						clear: both;
					}
					article {
						float: left;
						width: 100%;
						height: 100%;
						margin-right: 20px;
						color: $white-color;
						background: rgb(20, 20, 20);
						transition: all 0.7s;
						&:last-of-type {
							margin-right: 0;
						}
						.pic {
							width: 100%;
							height: 100%;
							overflow: hidden;
							img {
								width: 100%;
								transition: all 0.7s;
								background: #000;
								opacity: 0.7;
							}
							h2 {
								color: #fff;
								padding: 20px 5px;
								font-family: 'orbitron';
								font-size: 16px;
								letter-spacing: 2px;
							}
							a {
								padding: 20px 0;
								display: block;
								border: 2px solid $main-Color;
								text-align: center;
								color: $sub2-color;
								font: bold $font-small;
								margin-top: 30px;
								transition: all 0.7s;
								position: relative;
								&::after {
									content: '';
									width: 100%;
									height: 0;
									position: absolute;
									left: 0;
									bottom: 0;
									background: $main-Color;
									transition: all 0.7s;
								}
								&:hover {
									color: #000;
									&::after {
										position: absolute;
										left: 0;
										bottom: 0;
										height: 100%;
										z-index: -1;
									}
								}
								img {
									width: 100%;
								}
							}
						}
						&:hover {
							transform: scale(1.05);
							.pic {
								img {
									transform: scale(1.1);
									opacity: 1;
								}
								h2 {
									color: #f8c0c9;
								}
								a {
									transform: translateY(-20px);
								}
							}
						}
					}
				}
			}
			.swiper-pagination1 {
				color: #fff;
				display: inline-block;
				text-align: center;
				z-index: 1;
				.swiper-pagination-bullet {
					color: #fff;
					background: #fff;
				}
			}
		}
	}

	/* content ---------------------------------------------------*/

	#content .inner {
		width: 100%;
		padding: 0 40px;
		.wrap {
			article {
				width: 32%;
				margin-right: 2%;
				h1,
				h2 {
					font: bold $font-middle;
					font-family: 'GmarketSansMedium';
				}
				a {
					img {
						width: 100%;
					}
				}
			}
		}
	}

	/* service --------------------------------------------------*/

	#service {
		.inner {
			width: 100%;
			> p {
				padding-bottom: 50px;
			}
			.wrap {
				width: 100%;
				height: 100%;
				article {
					width: 48%;
					height: 100%;
					margin-right: 0;
					margin-bottom: 100px;
					.icon_text {
						margin-top: 160px;
					}
				}
			}
		}
		&.on {
			.inner {
				.wrap {
					.icon {
						a .icons {
							opacity: 1;
							top: 45%;
						}
					}
					.icon_text {
						margin-top: 140px;
						opacity: 1;
					}
				}
			}
		}
	}

	/* scrollBtn ---------------------------------------------------*/
	#scrollBtn {
		display: none;
	}
	/* news ------------------------------------------------------*/

	#news .inner {
		width: 100%;
		padding: 0 40px;
		> h2 {
			font: $font-large;
			font-family: 'orbitron';
			color: $white-color;
			text-align: center;
			margin-bottom: 30px;
		}
		.wrap {
			article {
				float: left;
				width: 49%;
				margin-right: 2%;
				height: 100%;
				padding: 30px 0;
				h2 {
					font: bold 13px/1.5 'GmarketSansMedium';
				}
				&:nth-of-type(even) {
					margin-right: 0;
				}
				&:nth-of-type(3) {
					margin-right: 2%;
				}
				img {
					&:hover {
						transform: scale(1.05);
						opacity: 1;
					}
				}
				a {
					padding: 10px 0;
					top: 20px;
					&::after {
						width: 100%;
					}
				}
			}
		}
	}

	/* footer ------------------------------------------*/

	#footer .inner {
		width: 100%;
		.footerLogo {
			h1 {
				min-width: 150px;
			}
		}
	}
}

/* mobile ---------------------------------------------------*/

@media screen and (max-width: $mobile) {
	/* header -------------------------------------------------------------*/

	#header {
		.inner {
			nav {
				.util {
					display: none;
				}
			}
			.menuMo {
				.utilMo {
					display: block;
				}
			}
		}
	}

	/* model ------------------------------------------------*/

	#model {
		width: 100%;
		padding: 40px 10px;
		.inner {
			width: 100%;
			margin: 0 auto;
			.wrap {
				article {
					width: 100%;
					height: 100%;
					margin-bottom: 30px;
					.pic {
						h2 {
							font-size: 1.2rem;
						}
					}
				}
				.indicator {
					display: none;
				}
			}
		}
	}

	/* content ---------------------------------------------------*/

	#content .inner {
		margin: 0 auto;
		padding: 0 10px;
		.wrap {
			article {
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}

	/* service --------------------------------------------------*/

	#service {
		.inner {
			.wrap {
				height: auto;
				article {
					width: 100%;
					height: 100%;
					margin-bottom: 100px;
					.icon_text {
						margin-top: 150px;
					}
				}
			}
		}
		&.on {
			.inner {
				.wrap {
					.icon {
						a .icons {
							opacity: 1;
							top: 40%;
						}
					}
					.icon_text {
						margin-top: 150px;
						opacity: 1;
					}
				}
			}
		}
	}

	/* news ------------------------------------------------------*/

	#news {
		.inner {
			> h2 {
				font: bold $font-middle;
				font-family: 'orbitron';
				color: $white-color;
				margin-bottom: 10px;
			}
			.wrap {
				article {
					width: 100%;
					margin-bottom: 30px;
					height: 100%;
				}
			}
		}
	}

	/* scrollBtn -------------------------------------------------*/
	#scrollBtn {
		display: none;
	}

	/* footer ------------------------------------------*/

	#footer .inner {
		width: 100%;
		padding: 0 10px;
		.gnb {
			text-align: center;
			li {
				display: block;
				a {
					font-size: 14px;
				}
			}
			li:not(:last-child) {
				margin-right: 0;
			}
		}
		address {
			font-size: 12px;
			text-align: center;
			line-height: 1.5;
		}
		.footerLogo {
			h1 {
				min-width: 150px;
			}
		}
	}
}
