@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  left: 0;
  top: -9999px;
  opacity: 0;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  left: 0;
  top: -9999px;
  opacity: 0;
}

#header_sub {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #4fb627;
}
#header_sub .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
#header_sub .inner::after {
  content: "";
  display: block;
  clear: both;
}
#header_sub .inner h1 {
  max-width: 150px;
  float: left;
}
#header_sub .inner h1 a img {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}
#header_sub .inner nav {
  float: left;
  width: 70%;
}
#header_sub .inner nav::after {
  content: "";
  display: block;
  clear: both;
}
#header_sub .inner nav .gnb {
  margin-left: 20px;
  float: left;
}
#header_sub .inner nav .gnb::after {
  content: "";
  display: block;
  clear: both;
}
#header_sub .inner nav .gnb li {
  float: left;
}
#header_sub .inner nav .gnb li a {
  display: block;
  font: normal 24px/1 "Pretendard";
  color: #fff;
  padding: 15px 10px;
  transition: all 0.7s;
}
#header_sub .inner nav .gnb li:hover a {
  background: #4fb627;
  color: #cbcaa5;
}
#header_sub .inner nav .util {
  height: 100%;
  margin-top: 5px;
  position: absolute;
  right: 35px;
  top: 0;
}
#header_sub .inner nav .util::after {
  content: "";
  display: block;
  clear: both;
}
#header_sub .inner nav .util li {
  float: right;
}
#header_sub .inner nav .util li:hover a {
  color: #4fb627;
}
#header_sub .inner nav .util li a {
  display: block;
  margin-left: 20px;
  font-size: 24px;
  line-height: 2;
  color: #fff;
}
#header_sub .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: none;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  text-indent: -9999px;
  transition: all 0.5s;
}
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background: #151615;
  position: fixed;
  top: 10%;
  right: -300px;
  padding: 80px 30px;
  z-index: 10;
  transition: 0.7s;
}
#header_sub .inner .menuMo.on {
  right: 0;
}
#header_sub .inner .menuMo .gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}
#header_sub .inner .menuMo .gnbMo li:hover a {
  background: #4fb627;
  color: #fff;
}
#header_sub .inner .menuMo .utilMo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px;
  margin-left: 50px;
}
#header_sub .inner .menuMo .utilMo li {
  float: left;
}
#header_sub .inner .menuMo .utilMo li a {
  margin-right: 30px;
  font-size: 26px;
  color: #999;
  display: block;
}
#header_sub .inner .menuMo .utilMo li:hover a {
  color: #4fb627;
}

/* contents ---------------------------------------------*/
.contents {
  width: 100%;
  /* footer ------------------------------------------*/
  /* tablet --------------------------------------------------*/
  /* contents ------------------------------------------------------*/
  /* footer --------------------------------------------------------*/
  /* mobile ------------------------------------------------------*/
}
.contents .sub_visual img {
  width: 100%;
  margin-bottom: 50px;
}
.contents .inner {
  width: 1180px;
  margin: 0 auto 150px;
}
.contents .inner > h1 {
  color: #fff;
  text-align: center;
  font: bold 30px/1 "GmarketSansMedium";
  letter-spacing: 2px;
  text-shadow: 5px 5px 5px grey;
}
.contents .inner .arrow {
  background: url(../img/subpage01/arrow.png) no-repeat center/cover;
  width: 30px;
  height: 20px;
  margin: 30px auto;
}
.contents .model1 {
  margin-top: 100px;
}
.contents .model1 h1 {
  color: #fff;
  background: url(../img/subpage01/main06.jpg) no-repeat center/cover;
  height: 500px;
  padding: 100px;
  font: bold 40px/1 "GmarketSansMedium";
  width: 100%;
  text-shadow: 5px 5px 5px grey;
}
.contents .model2 {
  margin-top: 100px;
}
.contents .model2 h1 {
  color: #fff;
  background: url(../img/subpage01/main03.jpg) no-repeat center/cover;
  height: 500px;
  padding: 100px;
  font: bold 40px/1 "GmarketSansMedium";
  width: 100%;
  text-shadow: 5px 5px 5px grey;
}
.contents .model3 {
  margin-top: 100px;
}
.contents .model3 h1 {
  color: #fff;
  background: url(../img/subpage01/main05.jpg) no-repeat center/cover;
  height: 500px;
  padding: 100px;
  font: bold 40px/1 "GmarketSansMedium";
  width: 100%;
  text-shadow: 5px 5px 30px gray;
}
.contents .model4 {
  margin-top: 100px;
}
.contents .model4 h1 {
  color: #fff;
  background: url(../img/subpage01/main01.jpg) no-repeat center/cover;
  height: 500px;
  padding: 100px;
  font: bold 40px/1 "GmarketSansMedium";
  width: 100%;
  text-shadow: 5px 5px 5px grey;
}
.contents .model5 {
  margin-top: 100px;
}
.contents .model5 h1 {
  color: #fff;
  background: url(../img/subpage01/main02.jpg) no-repeat center/cover;
  height: 500px;
  padding: 100px;
  font: bold 40px/1 "GmarketSansMedium";
  width: 100%;
  text-shadow: 5px 5px 5px grey;
}
.contents .info {
  width: 1180px;
  margin: 0 auto;
}
.contents .info .wrap {
  margin: 50px 0;
}
.contents .info .wrap::after {
  content: "";
  display: block;
  clear: both;
}
.contents .info .wrap article {
  float: left;
  width: 280px;
  height: 100%;
  margin-right: 20px;
  transition: all 0.7s;
  opacity: 0.7;
}
.contents .info .wrap article:last-of-type {
  margin-right: 0;
}
.contents .info .wrap article:hover {
  transform: scale(1.1);
  opacity: 1;
}
.contents .info .wrap article:hover h2 {
  color: #4fb627;
}
.contents .info .wrap article:hover span {
  color: #fff;
}
.contents .info .wrap article .pic a img {
  width: 100%;
  border: 3px solid #4fb627;
}
.contents .info .wrap article .pic h2 {
  color: #fff;
  font: bold 20px/1 "GmarketSansMedium";
  display: block;
  margin-top: 10px;
  padding: 30px 0 10px;
  cursor: pointer;
}
.contents .info .wrap article .pic span:last-of-type {
  display: block;
  color: #999;
  font: normal 13px/1 "GmarketSansMedium";
  cursor: pointer;
}
.contents #footer_sub {
  width: 100%;
  background: #131212;
  padding-top: 50px;
}
.contents #footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
}
.contents #footer_sub .inner .gnb {
  text-align: center;
  margin-bottom: 30px;
}
.contents #footer_sub .inner .gnb li {
  display: inline-block;
}
.contents #footer_sub .inner .gnb li:not(:last-child) {
  margin-right: 30px;
}
.contents #footer_sub .inner .gnb li a {
  display: block;
  padding: 20px;
  color: #999;
}
.contents #footer_sub .inner .gnb li a:hover {
  color: #fff;
}
.contents #footer_sub .inner address {
  color: #999;
  font: normal 16px/1.3 "arial";
  text-align: center;
}
.contents #footer_sub .inner .sns {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.contents #footer_sub .inner .sns li:not(:last-child) {
  margin-right: 50px;
}
.contents #footer_sub .inner .sns li a {
  font-size: 30px;
  color: #999;
  display: block;
  padding: 10px;
}
.contents #footer_sub .inner .sns li a:hover {
  color: #4fb627;
}
.contents #footer_sub .inner .footerLogo h1 {
  width: 150px;
  margin: 0 auto;
}
.contents #footer_sub .inner .footerLogo h1 img {
  width: 100%;
}
.contents #footer_sub .inner .footerLogo p {
  color: #999;
  text-align: center;
  padding: 30px 0;
}
@media screen and (max-width: 1179px) {
  .contents {
    /* header -------------------------------------------------------------*/
    /* contents ---------------------------------------------------------*/
  }
  .contents #header_sub .inner {
    width: 100%;
  }
  .contents #header_sub .inner nav .gnb {
    display: none;
  }
  .contents #header_sub .inner nav .util {
    margin-right: 40px;
  }
  .contents #header_sub .inner nav .util li:last-child {
    margin-right: 10px;
  }
  .contents #header_sub .inner .btnCall {
    display: block;
  }
  .contents #header_sub .inner .btnCall:hover::before {
    background: #4fb627;
  }
  .contents #header_sub .inner .btnCall:hover::after {
    background: #4fb627;
  }
  .contents #header_sub .inner .btnCall:hover span {
    background: #4fb627;
    transition-duration: 0s;
  }
  .contents #header_sub .inner .menuMo .utilMo {
    display: none;
  }
  .contents .contents .inner {
    width: 100%;
  }
  .contents .contents .model1 h1 {
    font: bold 40px/1.3 "GmarketSansMedium";
  }
  .contents .contents .model2 h1 {
    font: bold 40px/1.3 "GmarketSansMedium";
  }
  .contents .contents .model3 h1 {
    font: bold 40px/1.3 "GmarketSansMedium";
  }
  .contents .contents .model4 h1 {
    font: bold 40px/1.3 "GmarketSansMedium";
  }
  .contents .contents .model5 h1 {
    font: bold 40px/1.3 "GmarketSansMedium";
  }
  .contents .contents .info {
    width: 100%;
  }
  .contents .contents .info .wrap li {
    width: 49%;
  }
  .contents .contents .info .wrap li h2 {
    color: #fff;
    font: bold 20px/1 "GmarketSansMedium";
    display: block;
    margin-top: 10px;
    padding: 30px 0 10px;
    cursor: pointer;
  }
  .contents .contents .info .wrap li span:last-of-type {
    display: block;
    color: #999;
    font: normal 13px/1 "GmarketSansMedium";
    cursor: pointer;
  }
}
.contents #footer_sub .inner {
  width: 100%;
}
.contents #footer_sub .inner .footerLogo h1 {
  min-width: 150px;
}
@media screen and (max-width: 539px) {
  .contents {
    /* header -------------------------------------------------------------*/
    /* footer ---------------------------------------------------------*/
  }
  .contents #header_sub .inner nav .util {
    display: none;
  }
  .contents #header_sub .inner .menuMo .utilMo {
    display: block;
  }
  .contents #footer_sub .inner {
    width: 100%;
    padding: 0 10px;
  }
  .contents #footer_sub .inner .gnb {
    text-align: center;
  }
  .contents #footer_sub .inner .gnb li {
    display: block;
  }
  .contents #footer_sub .inner .gnb li a {
    font-size: 14px;
  }
  .contents #footer_sub .inner .gnb li:not(:last-child) {
    margin-right: 0;
  }
  .contents #footer_sub .inner address {
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
  }
  .contents #footer_sub .inner .footerLogo h1 {
    min-width: 150px;
  }
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  left: 0;
  top: -9999px;
  opacity: 0;
}

.event {
  background: #fff;
}
.event .sub_visual img {
  width: 100%;
}
.event .inner {
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.event .inner::after {
  content: "";
  clear: both;
  display: block;
}
.event .inner h1 {
  font: bold 50px/1 "GmarketSansMedium";
  padding: 50px 0;
}
.event .inner .search {
  float: right;
  margin-bottom: 20px;
  position: relative;
}
.event .inner .search select {
  padding: 5px 50px 5px 5px;
}
.event .inner .search input {
  padding: 5px 10px;
}
.event .inner .search a {
  font-size: 16px;
  position: absolute;
  right: 3px;
  top: 20%;
}
.event .inner .search a i {
  color: #777;
}
.event .inner table {
  width: 100%;
  border-top: 3px solid #000;
  margin-bottom: 50px;
}
.event .inner table tr:hover {
  background: #eee;
}
.event .inner table tr th {
  padding: 15px;
  background: #e5e5e5;
}
.event .inner table tr th:nth-of-type(1), .event .inner table tr th:nth-of-type(3) {
  width: 10%;
}
.event .inner table tr td {
  padding: 13px;
  border-bottom: 1px solid #ddd;
  font-family: "Pretendard";
}
.event .inner table tr td:not(:nth-of-type(2)) {
  text-align: center;
}
.event .inner table tr td a {
  color: #333;
  font-family: "Pretendard";
  line-height: 1.4;
}
.event .inner .pagination {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.event .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.event .inner .pagination .prev {
  float: left;
  width: 30px;
  height: 30px;
  font: 30px/30px "Pretendard";
  color: #111;
  cursor: pointer;
  text-align: center;
}
.event .inner .pagination .next {
  float: right;
  width: 30px;
  height: 30px;
  font: 30px/30px "Pretendard";
  color: #111;
  cursor: pointer;
  text-align: center;
}
.event .inner .pagination .numbers {
  display: inline-block;
  font-size: 0;
}
.event .inner .pagination .numbers a {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #666;
  font: 13px/30px "Pretendard";
  margin: 0 5px;
  transition: all 0.7s;
  cursor: pointer;
}
.event .inner .pagination .numbers a:hover {
  background: #bbb;
  color: #fff;
}

/* tablet ----------------------------------------------------------------------------*/
@media screen and (max-width: 1179px) {
  .event .inner {
    width: 100%;
    padding: 0 20px;
  }
  .event .inner table tr th:nth-of-type(1) {
    width: 13%;
  }
  .event .inner table tr th:nth-of-type(3) {
    width: 8%;
  }
  .event .inner table tr td:nth-of-type(1) {
    width: 8%;
  }
  .event .inner table tr td:nth-of-type(8) {
    width: 8%;
  }
  .event .inner .pagination {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
  }
  .event .inner .pagination::after {
    content: "";
    display: block;
    clear: both;
  }
  .event .inner .pagination .prev {
    float: left;
    width: 30px;
    height: 30px;
    font: 20px/30px "Pretendard";
    color: #111;
    cursor: pointer;
    text-align: center;
  }
  .event .inner .pagination .next {
    float: right;
    width: 30px;
    height: 30px;
    font: 20px/30px "Pretendard";
    color: #111;
    cursor: pointer;
    text-align: center;
  }
  .event .inner .pagination .numbers {
    display: inline-block;
    font-size: 0;
  }
  .event .inner .pagination .numbers a {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #666;
    font: 16px/30px "Pretendard";
    margin: 0 5px;
    transition: all 0.7s;
    cursor: pointer;
  }
  .event .inner .pagination .numbers a:hover {
    background: #bbb;
    color: #fff;
  }
}
/* mobile -----------------------------------------------------*/
@media screen and (max-width: 539px) {
  .event .inner h1 {
    float: left;
    font-size: 30px;
  }
  .event .inner .search {
    width: 100%;
    padding-top: 10px;
  }
  .event .inner .search select {
    margin-bottom: 10px;
  }
  .event .inner .search input {
    display: none;
  }
  .event .inner .search a {
    display: none;
  }
  .event .inner table tr th:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .event .inner table tr th:nth-of-type(3) {
    display: none;
  }
  .event .inner table tr td:nth-of-type(1) {
    display: none;
  }
  .event .inner table tr td:nth-of-type(3) {
    display: none;
  }
  .event .inner .pagination {
    display: none;
  }
}
* {
  font-family: "Pretendard", sans-serif;
}

body {
  background: #000;
}

/* header -------------------------------------------------------------*/
#header {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #4fb627;
}
#header .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
#header .inner::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner h1 {
  max-width: 150px;
  float: left;
}
#header .inner h1 a img {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}
#header .inner nav {
  float: left;
  width: 70%;
}
#header .inner nav::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner nav .gnb {
  margin-left: 20px;
  float: left;
}
#header .inner nav .gnb::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner nav .gnb li {
  float: left;
}
#header .inner nav .gnb li a {
  display: block;
  font: normal 24px/1 "Pretendard";
  color: #fff;
  padding: 15px 10px;
  transition: all 0.7s;
}
#header .inner nav .gnb li:hover a {
  background: #4fb627;
  color: #cbcaa5;
}
#header .inner nav .util {
  height: 100%;
  margin-top: 5px;
  position: absolute;
  right: 35px;
  top: 0;
}
#header .inner nav .util::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner nav .util li {
  float: right;
}
#header .inner nav .util li:hover a {
  color: #4fb627;
}
#header .inner nav .util li a {
  display: block;
  margin-left: 20px;
  font-size: 24px;
  line-height: 2;
  color: #fff;
}
#header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: none;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  text-indent: -9999px;
  transition: all 0.5s;
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .menuMo {
  width: 300px;
  height: 100vh;
  background: #151615;
  position: fixed;
  top: 10%;
  right: -300px;
  padding: 80px 30px;
  z-index: 10;
  transition: 0.7s;
}
#header .inner .menuMo.on {
  right: 0;
}
#header .inner .menuMo .gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}
#header .inner .menuMo .gnbMo li:hover a {
  background: #4fb627;
  color: #fff;
}
#header .inner .menuMo .utilMo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px;
  margin-left: 50px;
}
#header .inner .menuMo .utilMo li {
  float: left;
}
#header .inner .menuMo .utilMo li a {
  margin-right: 30px;
  font-size: 26px;
  color: #999;
  display: block;
}
#header .inner .menuMo .utilMo li:hover a {
  color: #4fb627;
}

/* visual ----------------------------------------------------------------*/
#visual {
  width: 100%;
}
#visual img {
  width: 100%;
}

/* model ------------------------------------------------*/
#model {
  width: 100%;
}
#model .inner {
  width: 1180px;
  margin: 0 auto;
}
#model .inner h1 {
  color: #fff;
  margin-top: 80px;
  font: bold 30px/1 "arial";
  text-align: center;
}
#model .inner p {
  color: #fff;
  margin: 20px 0;
  text-align: center;
}
#model .inner::after {
  content: "";
  display: block;
  clear: both;
}
#model .inner .wrap article {
  width: 280px;
  float: left;
  margin-right: 20px;
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 400px;
  background: #141414;
}
#model .inner .wrap article:last-of-type {
  margin-right: 0;
}
#model .inner .wrap article .pic {
  width: 100%;
  height: 100%;
}
#model .inner .wrap article .pic img {
  width: 100%;
  transition: all 0.7s;
  background: #000;
  opacity: 0.7;
}
#model .inner .wrap article .pic h2 {
  color: #fff;
  padding: 30px 5px;
  font-family: "GmarketSansMedium";
}
#model .inner .wrap article .pic a {
  padding: 20px 0;
  display: block;
  border: 2px solid #4fb627;
  text-align: center;
  color: #999;
  font: bold 18px/1 "arial";
  margin-top: 30px;
  transition: all 0.7s;
  position: relative;
}
#model .inner .wrap article .pic a::after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #4fb627;
  transition: all 0.7s;
}
#model .inner .wrap article .pic a:hover {
  color: #000;
}
#model .inner .wrap article .pic a:hover::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
}
#model .inner .wrap article:hover .pic img {
  transform: scale(1.1);
  opacity: 1;
}
#model .inner .wrap article:hover .pic h2 {
  color: #f8c0c9;
}
#model .inner .wrap article:hover .pic a {
  transform: translateY(-20px);
}
#model .inner .wrap .indicator {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
#model .inner .wrap .indicator li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 20px 0 0 10px;
  cursor: pointer;
  background-color: #999;
  text-indent: -9999px;
}
#model .inner .wrap .indicator li:hover, #model .inner .wrap .indicator li:first-child, #model .inner .wrap .indicator li.on {
  background: #000;
  border: 2px solid #fff;
}

/* content ---------------------------------------------------*/
#content {
  width: 100%;
}
#content .inner {
  width: 1180px;
  margin: 100px auto;
}
#content .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#content .inner .wrap article {
  width: 380px;
  margin-right: 20px;
  float: left;
}
#content .inner .wrap article:last-of-type {
  margin-right: 0;
}
#content .inner .wrap article h1 {
  color: #fff;
  font: bold 24px/1 "GmarketSansMedium";
  margin-bottom: 20px;
}
#content .inner .wrap article h2 {
  color: #bbb;
  font: bold 16px/1 "GmarketSansMedium";
  margin-bottom: 30px;
}
#content .inner .wrap article a img {
  transition: all 0.7s;
  border: 3px solid #4fb627;
}
#content .inner .wrap article a:hover img {
  transform: scale(1.1);
}

/* gallery ------------------------------------------*/
#gallery {
  width: 100%;
}
#gallery .image {
  width: 100%;
  background: url(../img/motor_main2.jpg) no-repeat center/cover;
  background-attachment: fixed;
  height: 700px;
  text-indent: -9999px;
  margin: 100px 0;
}

/* news ------------------------------------------------------*/
#news {
  width: 100%;
}
#news .inner {
  width: 1180px;
  margin: 50px auto;
}
#news .inner h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  font: bold 30px/1 "GmarketSansMedium";
}
#news .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#news .inner .wrap article {
  float: left;
  width: 380px;
  height: 400px;
  margin-right: 20px;
}
#news .inner .wrap article:nth-of-type(3), #news .inner .wrap article:nth-of-type(6) {
  margin-right: 0;
}
#news .inner .wrap article img {
  width: 100%;
  transition: all 0.7s;
  border: 4px solid #4fb627;
  opacity: 0.8;
}
#news .inner .wrap article img:hover {
  transform: scale(1.1);
  opacity: 1;
}
#news .inner .wrap article h2 {
  color: #fff;
  font: bold 15px/1 "GmarketSansMedium";
  margin-top: 20px;
}
#news .inner .wrap article a {
  color: #999;
  padding: 30px 0 10px;
  position: relative;
  width: 100%;
  left: 0;
  top: 5%;
}
#news .inner .wrap article a::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.7s;
  transform: translateY(20px);
}
#news .inner .wrap article a:hover {
  color: #fff;
}
#news .inner .wrap article a:hover::after {
  opacity: 1;
  transform: translateX(0);
}

/* footer ------------------------------------------*/
#footer {
  width: 100%;
  background: #131212;
  padding-top: 50px;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner .gnb {
  text-align: center;
  margin-bottom: 30px;
}
#footer .inner .gnb li {
  display: inline-block;
}
#footer .inner .gnb li:not(:last-child) {
  margin-right: 30px;
}
#footer .inner .gnb li a {
  display: block;
  padding: 20px;
  color: #999;
}
#footer .inner .gnb li a:hover {
  color: #fff;
}
#footer .inner address {
  color: #999;
  font: normal 16px/1.3 "arial";
  text-align: center;
}
#footer .inner .sns {
  display: flex;
  justify-content: center;
  margin: 50px;
}
#footer .inner .sns li:not(:last-child) {
  margin-right: 50px;
}
#footer .inner .sns li a {
  font-size: 30px;
  color: #999;
  display: block;
  padding: 10px;
}
#footer .inner .sns li a:hover {
  color: #4fb627;
}
#footer .inner .footerLogo h1 {
  width: 150px;
  margin: 0 auto;
}
#footer .inner .footerLogo h1 img {
  width: 100%;
}
#footer .inner .footerLogo p {
  color: #999;
  text-align: center;
  padding: 30px 0;
}

/* tablet ------------------------------------------------------*/
@media screen and (max-width: 1179px) {
  /* header -------------------------------------------------------------*/
  #header .inner {
    width: 100%;
  }
  #header .inner nav .gnb {
    display: none;
  }
  #header .inner nav .util {
    margin-right: 40px;
  }
  #header .inner nav .util li:last-child {
    margin-right: 10px;
  }
  #header .inner .btnCall {
    display: block;
  }
  #header .inner .btnCall:hover::before {
    background: #4fb627;
  }
  #header .inner .btnCall:hover::after {
    background: #4fb627;
  }
  #header .inner .btnCall:hover span {
    background: #4fb627;
    transition-duration: 0s;
  }
  #header .inner .menuMo .utilMo {
    display: none;
  }

  /* model ------------------------------------------------*/
  #model {
    width: 100%;
    padding: 0 10px;
  }
  #model .inner {
    width: 100%;
    margin: 0 auto;
  }
  #model .inner .wrap article {
    width: 49%;
    margin-right: 2%;
    height: 100%;
  }
  #model .inner .wrap article:nth-of-type(1), #model .inner .wrap article:nth-of-type(2) {
    margin-bottom: 50px;
  }
  #model .inner .wrap article:nth-of-type(2n) {
    margin-right: 0;
  }
  #model .inner .wrap article .pic {
    padding: 0 20px 40px;
  }
  #model .inner .wrap article .pic:hover img {
    transform: translateY(-10px);
  }
  #model .inner .wrap article .pic h2 {
    padding: 20px 0;
    font-size: 1rem;
  }
  #model .inner .wrap .indicator {
    display: none;
  }

  /* content ---------------------------------------------------*/
  #content .inner {
    width: 100%;
    padding: 0 40px;
  }
  #content .inner .wrap article {
    width: 32%;
    margin-right: 2%;
  }
  #content .inner .wrap article h1, #content .inner .wrap article h2 {
    font: bold 18px/1 "GmarketSansMedium";
  }
  #content .inner .wrap article a img {
    width: 100%;
  }

  /* news ------------------------------------------------------*/
  #news .inner {
    width: 100%;
    padding: 0 40px;
  }
  #news .inner .wrap article {
    float: left;
    width: 49%;
    margin-right: 2%;
    height: 100%;
    padding: 30px 0;
  }
  #news .inner .wrap article h2 {
    font: bold 13px/1.5 "GmarketSansMedium";
  }
  #news .inner .wrap article:nth-of-type(even) {
    margin-right: 0;
  }
  #news .inner .wrap article:nth-of-type(3) {
    margin-right: 2%;
  }
  #news .inner .wrap article img:hover {
    transform: scale(1.05);
    opacity: 1;
  }
  #news .inner .wrap article a {
    padding: 10px 0;
    top: 20px;
  }
  #news .inner .wrap article a::after {
    width: 100%;
  }

  /* footer ------------------------------------------*/
  #footer .inner {
    width: 100%;
  }
  #footer .inner .footerLogo h1 {
    min-width: 150px;
  }
}
/* mobile ---------------------------------------------------*/
@media screen and (max-width: 539px) {
  /* header -------------------------------------------------------------*/
  #header .inner nav .util {
    display: none;
  }
  #header .inner .menuMo .utilMo {
    display: block;
  }

  /* model ------------------------------------------------*/
  #model {
    width: 100%;
    padding: 40px 10px;
  }
  #model .inner {
    width: 100%;
    margin: 0 auto;
  }
  #model .inner .wrap article {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  #model .inner .wrap article .pic h2 {
    font-size: 1.2rem;
  }
  #model .inner .wrap .indicator {
    display: none;
  }

  /* content ---------------------------------------------------*/
  #content .inner {
    margin: 0 auto;
    padding: 0 10px;
  }
  #content .inner .wrap article {
    width: 100%;
    margin-bottom: 30px;
  }

  /* news ------------------------------------------------------*/
  #news .inner .wrap article {
    width: 100%;
    margin-bottom: 30px;
    height: 100%;
  }

  /* footer ------------------------------------------*/
  #footer .inner {
    width: 100%;
    padding: 0 10px;
  }
  #footer .inner .gnb {
    text-align: center;
  }
  #footer .inner .gnb li {
    display: block;
  }
  #footer .inner .gnb li a {
    font-size: 14px;
  }
  #footer .inner .gnb li:not(:last-child) {
    margin-right: 0;
  }
  #footer .inner address {
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
  }
  #footer .inner .footerLogo h1 {
    min-width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
